<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Баланс пользователей</title>
    <style>
        .balances {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .balances td, .balances th {
            padding: 5px 8px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table class="balances">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Баланс</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Евгений</td>
                <td>Манько</td>
                <td>7777777,00</td>
            </tr>
            <tr>
                <td>Павел</td>
                <td>Воля</td>
                <td>-194,00</td>
            </tr>
            <tr>
                <td>Гарик</td>
                <td>Харламов</td>
                <td>-4340,00</td>
            </tr>
            <tr>
                <td>Дмитрий</td>
                <td>Билан</td>
                <td>-54917431,00</td>
            </tr>
            <tr>
                <td>Сергей</td>
                <td>Зверев</td>
                <td>-43213711,00</td>
            </tr>
            <tr>
                <td>Алла</td>
                <td>Пугачева</td>
                <td>-65784,00</td>
            </tr>
            <tr>
                <td>Валерий</td>
                <td>Меладзе</td>
                <td>-10162028,00</td>
            </tr>
        </tbody>
    </table>
</body>
</html>