<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>
<h1 class="mb-3">Список пользователей </h1>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Телефон </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2</td>
        <td>Павел</td>
        <td>Воля</td>
        <td>74328459345</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Гарик</td>
        <td>Харламов</td>
        <td>43215425754</td>
    </tr>
    </tbody>
</table>
</body>
</html>
