<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Информация о пользователях</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <style>
    #header {
      height: 80px;
      position: relative;
      text-align: center;
    }
    #title {
      width: 100%;
      position: absolute;
      top: 25%;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-light" style="background-color:#e77718;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Панель навигации</a>
  </div>
</nav>

<div id="header">
  <h1 id="title">Список клиентов</h1>
</div>

<table class="table" >
  <thead>
  <tr>
    <th>Id</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Телефон </th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user: ${users}">
    <td th:text="${user.id}" />
    <td th:text="${user.firstName}" />
    <td th:text="${user.lastName}" />
    <td th:text="${user.phone}" />
    <td>
      <a href="#" class="btn btn-dark">Изменить</a>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>